html, body{
  background-color: #ffeead;
  /* height:100%; */
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
  display: flex;
  border: 3px solid blue;
  /* height:90vh; */
  flex-wrap: wrap;
}
.container >div{
padding: 10px;
text-align: center;
font-size: 2em;
color:#ffeead;
width: 300px;

}

.container > div:nth-child(1){background-color: green;}
.container > div:nth-child(2){background-color: red;}
.container > div:nth-child(3){background-color: green;}

.home{
  order:1;
}
.contact{
  order:-1;
}